Repository robbiebise/Monorepo-Example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scan-cli, scan-dotnet, scan-maven, scan-gradle

scan-cli:
  image:
    name: sonarsource/sonar-scanner-cli:latest
  cache:
    key: sonarscanner-${CI_PROJECT_NAME}
    paths:
    - .sonar/cache
  stage: scan
  needs: null
  before_script:
  - apk add --update --no-cache python3 py3-pip
  - pip install sonar-tools
  - apk add curl
  - apk add coreutils
  script:
  - cd comp-cli
  ...

scan-dotnet:
  image:
    name: mcr.microsoft.com/dotnet/sdk:3.1
  cache:
    key: sonarscanner-${CI_PROJECT_NAME}
    paths:
    - .sonar/cache
  stage: scan
  before_script:
  - dotnet tool install dotnet-sonarscanner --global
  - export PATH="$PATH:/root/.dotnet/tools"
  ...

scan-maven:
  image:
    name: maven:latest
  stage: scan
  variables:
    MAVEN_CLI_OPTS: -s .m2/settings.xml --batch-mode
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    key: maven-${CI_PROJECT_NAME}
    paths:
    - .m2/repository/
    - target/
  script:
  - cd comp-maven
  ...

scan-gradle:
  image:
    name: gradle:6.3.0-jdk11
  stage: scan
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  script:
  - cd comp-gradle
  - ./gradlew build sonarqube --info -Dsonar.qualitygate.wait=true
  - cd -
  cache:
    key: gradle-${CI_PROJECT_NAME}
  ...

Update cli-scan.yaml
  .github/workflows/cli-scan.yaml
Due: none

merge
  .github/workflows/cli-scan.yaml
  .github/workflows/dotnet-scan.yaml
Due: none

ls
  .github/workflows/cli-scan.yaml
Due: none

working directory
  .github/workflows/cli-scan.yaml
  .github/workflows/dotnet-scan.yaml
  .github/workflows/maven-scan.yaml
Due: none

fix
  .github/workflows/cli-scan.yaml
Due: none

try with sonar working directory
  .github/workflows/cli-scan.yaml
Due: none

with
  .github/workflows/cli-scan.yaml
Due: none

fix maven and dotnet
  .github/workflows/dotnet-scan.yaml
  .github/workflows/maven-scan.yaml
Due: none

java version
  .github/workflows/dotnet-scan.yaml
Due: none

fix dotnet
  .github/workflows/dotnet-scan.yaml
  .github/workflows/maven-scan.yaml
Due: none

fix dotnet
  .github/workflows/dotnet-scan.yaml
Due: none

fixdotnet
  .github/workflows/dotnet-scan.yaml
Due: none

change project keys, fix dotnet
  .github/workflows/dotnet-scan.yaml
  comp-cli/sonar-project.properties
  comp-maven/pom.xml
Due: scan-cli, scan-maven

change to maven project
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

fix maven
  .github/workflows/maven-scan.yaml
Due: none

add tokens and permissions
  .github/workflows/maven-scan.yaml
Due: none

add readme
  .github/workflows/dotnet-scan.yaml
  README.md
  comp-dotnet/project/obj/Debug/netcoreapp2.2/dotnet-sample.assets.cache
  comp-dotnet/project/obj/Debug/netcoreapp2.2/dotnet-sample.csproj.AssemblyReference.cache
  comp-dotnet/project/obj/dotnet-sample.csproj.nuget.dgspec.json
  comp-dotnet/project/obj/dotnet-sample.csproj.nuget.g.props
  comp-dotnet/project/obj/dotnet-sample.csproj.nuget.g.targets
  comp-dotnet/project/obj/project.assets.json
  comp-dotnet/project/obj/project.nuget.cache
  comp-gradle/.gradle/6.7.1/executionHistory/executionHistory.lock
  comp-gradle/.gradle/6.7.1/fileChanges/last-build.bin
  comp-gradle/.gradle/6.7.1/fileHashes/fileHashes.lock
  comp-gradle/.gradle/6.7.1/gc.properties
  comp-gradle/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  comp-gradle/.gradle/buildOutputCleanup/cache.properties
  comp-gradle/.gradle/checksums/checksums.lock
  comp-gradle/.gradle/checksums/md5-checksums.bin
  comp-gradle/.gradle/checksums/sha1-checksums.bin
  comp-gradle/.gradle/configuration-cache/gc.properties
  comp-gradle/.gradle/vcs-1/gc.properties
  comp-gradle/bin/main/com/acme/App.class
  comp-gradle/bin/test/com/acme/AppTest.class
  comp-gradle/build.gradle
  comp-gradle/build.sh
  comp-gradle/gradle.properties
  comp-gradle/gradle/wrapper/gradle-wrapper.jar
  comp-gradle/gradle/wrapper/gradle-wrapper.properties
  comp-gradle/gradlew
  comp-gradle/gradlew.bat
  comp-gradle/settings.gradle
  comp-gradle/src/main/java/com/acme/App.java
  comp-gradle/src/test/java/com/acme/AppTest.java
Due: scan-gradle

Update dotnet-scan.yaml
  .github/workflows/dotnet-scan.yaml
Due: none

.net scanner fix
  .github/workflows/dotnet-scan.yaml
Due: none

revert yaml for .net
  .github/workflows/dotnet-scan.yaml
Due: none

only download required plugins
  .github/workflows/cli-scan.yaml
  .github/workflows/dotnet-scan.yaml
  .github/workflows/maven-scan.yaml
Due: none

updates
  .github/workflows/cli-scan.yaml
  build.sh
  comp-cli/sonar-project.properties
Due: scan-cli

fix some things break some others
  comp-cli/src/person.py
  comp-dotnet/project/MyClass.cs
  comp-dotnet/project/Program.cs
  comp-dotnet/project/obj/Debug/netcoreapp2.2/dotnet-sample.GeneratedMSBuildEditorConfig.editorconfig
  comp-dotnet/project/obj/Debug/netcoreapp2.2/dotnet-sample.assets.cache
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-cli, scan-dotnet, scan-maven

Path conditions:
  scan-cli: any of: .gitlab-ci.yml, .gitignore, comp-cli/**/*
  scan-dotnet: any of: .gitlab-ci.yml, .gitignore, comp-dotnet/*.sln, comp-dotnet/project/*.cs*
  scan-maven: any of: .gitlab-ci.yml, .gitignore, comp-maven/src/**/*, comp-maven/pom.xml
  scan-gradle: any of: .gitlab-ci.yml, .gitignore, comp-gradle/*, comp-gradle/src/**/*
