Repository robbiebise/Monorepo-Example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scan-cli, scan-dotnet, scan-maven, scan-gradle

scan-cli:
  image:
    name: sonarsource/sonar-scanner-cli:latest
  cache:
    key: sonarscanner-${CI_PROJECT_NAME}
    paths:
    - .sonar/cache
  stage: scan
  needs: null
  before_script:
  - apk add --update --no-cache python3 py3-pip
  - pip install sonar-tools
  - apk add curl
  - apk add coreutils
  script:
  - cd comp-cli
  ...

scan-dotnet:
  image:
    name: mcr.microsoft.com/dotnet/sdk:3.1
  cache:
    key: sonarscanner-${CI_PROJECT_NAME}
    paths:
    - .sonar/cache
  stage: scan
  before_script:
  - dotnet tool install dotnet-sonarscanner --global
  - export PATH="$PATH:/root/.dotnet/tools"
  ...

scan-maven:
  image:
    name: maven:latest
  stage: scan
  variables:
    MAVEN_CLI_OPTS: -s .m2/settings.xml --batch-mode
    MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  cache:
    key: maven-${CI_PROJECT_NAME}
    paths:
    - .m2/repository/
    - target/
  script:
  - cd comp-maven
  ...

scan-gradle:
  image:
    name: gradle:6.3.0-jdk11
  stage: scan
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  script:
  - cd comp-gradle
  - ./gradlew build sonarqube --info -Dsonar.qualitygate.wait=true
  - cd -
  cache:
    key: gradle-${CI_PROJECT_NAME}
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: scan-cli, scan-dotnet, scan-maven, scan-gradle

Remove GPDR files
  comp-cli/gdpr-check.json
Due: scan-cli

Update sonar-project.properties
  comp-cli/sonar-project.properties
Due: scan-cli

Updating files capabilities
  comp-cli/src/person.py
  comp-dotnet/project/obj/Debug/netcoreapp2.2/dotnet-sample.GeneratedMSBuildEditorConfig.editorconfig
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-cli, scan-maven

Changed next to nextInt function
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

adding throws
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

Changed my throw
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

cleanup
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

updated .gitignore
  comp-maven/.gitignore
Due: none

Added myscret and main
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

Updated python regex functions
  comp-cli/src/person.py
Due: scan-cli

remove myscret
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

Added new function : lentgh plus
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

Fixed missing ;
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

Adding logging capabilities
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

Removed logger, sop instead
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

updating maven proj
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

maven update
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-maven

cs update
  comp-dotnet/project/MyClass.cs
Due: scan-dotnet

Create cli-scan.yaml
  .github/workflows/cli-scan.yaml
Due: none

Create maven-scan.yml
  .github/workflows/maven-scan.yml
Due: none

Rename maven-scan.yml to maven-scan.yaml
  .github/workflows/maven-scan.yaml
Due: none

Create gradle-scan.yaml
  .github/workflows/gradle-scan.yaml
Due: none

Create dotnet-scan.yaml
  .github/workflows/dotnet-scan.yaml
Due: none

Update dotnet-scan.yaml
  .github/workflows/dotnet-scan.yaml
Due: none

Update maven-scan.yaml
  .github/workflows/maven-scan.yaml
Due: none

Update cli-scan.yaml
  .github/workflows/cli-scan.yaml
Due: none

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: scan-cli, scan-dotnet, scan-maven, scan-gradle

Delete demo-gitlab.code-workspace
  demo-gitlab.code-workspace
Due: none

Update README.md
  README.md
Due: none

add code
  comp-cli/src/person.py
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-cli, scan-maven

change some code
  comp-cli/src/person.py
  comp-maven/src/main/java/coverage_metrics/CoverageMetrics.java
Due: scan-cli, scan-maven

Delete gradle-scan.yaml
  .github/workflows/gradle-scan.yaml
Due: none

change some code
  comp-cli/src/person.py
Due: scan-cli

update workflows
  .github/workflows/cli-scan.yaml
  .github/workflows/dotnet-scan.yaml
  .github/workflows/maven-scan.yaml
  comp-dotnet/project/obj/Debug/netcoreapp2.2/dotnet-sample.GeneratedMSBuildEditorConfig.editorconfig
  comp-maven/.classpath
Due: none

Path conditions:
  scan-cli: any of: .gitlab-ci.yml, .gitignore, comp-cli/**/*
  scan-dotnet: any of: .gitlab-ci.yml, .gitignore, comp-dotnet/*.sln, comp-dotnet/project/*.cs*
  scan-maven: any of: .gitlab-ci.yml, .gitignore, comp-maven/src/**/*, comp-maven/pom.xml
  scan-gradle: any of: .gitlab-ci.yml, .gitignore, comp-gradle/*, comp-gradle/src/**/*
